<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>Actors</title>

    <!-- Import Montserrat font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <!-- Normalize.css fixes lot of differences between browsers default styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"/>

    <!-- project wide styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/site.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/background.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/card.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/grid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/utils.css') }}">

    <!-- page specific styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/detailed-view.css') }}">

</head>

<body>
<script>
    window.onload = (event) => {
        const actorNames = document.querySelectorAll(".nameDiv");
        console.log(actorNames);
        const cancelButtons = document.querySelectorAll(".cancel");
        const dialogs = document.querySelectorAll(".movieDialog");

        function openCheck(dialog) {
          if (dialog.open) {
            console.log("Dialog open");
          } else {
            console.log("Dialog closed");
          }
        }

        // Update button opens a modal dialog
        for (let i = 0; i < actorNames.length; i++) {
            console.log(actorNames[i]);
            actorNames[i].addEventListener("click", () => {
                dialogs[i].showModal();
                openCheck(dialogs[i]);
            });

            // Form cancel button closes the dialog box
            cancelButtons[i].addEventListener("click", () => {
                dialogs[i].close();
                openCheck(dialogs[i]);
            });
        }
    };
</script>

<div id="main"></div>
<div id="body-wrapper">
    <header class="clearfix">
        <img id="header-logo" src="{{ url_for('static', filename='assets/codecool-logo.png') }}" alt="Codecool Logo">
        <span id="header-title" class="title">Codecool Series DB</span>
        <div id="header-auth">
            <button type="button" id="bt-register">Register</button>
            <button type="button" id="bt-login">Login</button>
        </div>
    </header>
    <section>
        <h1 class="title text-center">Actors</h1>
        <div class="card">
            <p>Here is a list of 20 actors (alphabetic order).
                Click on the name to display a list of shows the actors has starred in.</p>

<table><thead>
<tr id="headers">
    <th id="nameH">
        Name

</tr>
</thead>
<tbody id="shows">{% for actor in actors %}
<tr>



    <dialog class="movieDialog">
  <form method="dialog">
    <p>
      <label>{{ actor['name'] }} has starred in:</label>
<ul>
        {% for id, title in actor['show_details'].items() %}
    <li> <a href="/shows/{{ id }}">{{ title }}</a> </li>

        {% endfor %}
</ul>

    </p>
    <div>
      <button class="cancel" type="reset">Close</button>
    </div>
  </form>
</dialog>


        <td><span class="nameDiv">{{ actor['name'] }}</span>
   </td>
</tr>
{% endfor %}






</tbody>

</table>
        </div>


    </section>
    <footer>
        Copyright, bla-bla
    </footer>
</div>
 <div class="background">
    <div class="dark-blue-layer"></div>
    <div class="light-blue-layer"></div>
</div>

<script src="/static/js/actors.js"></script>
</body>
</html>