<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>Filter actors</title>

    <!-- Import Montserrat font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <!-- Normalize.css fixes lot of differences between browsers default styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"/>

    <!-- project wide styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/site.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/background.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/card.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/grid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/utils.css') }}">

    <!-- page specific styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/detailed-view.css') }}">
</head>

<body>
<div id="body-wrapper">
    <header class="clearfix">
        <img id="header-logo" src="{{ url_for('static', filename='assets/codecool-logo.png') }}" alt="Codecool Logo">
        <span id="header-title" class="title">
                    Codecool Series DB
                </span>
        <div id="header-auth">
            <button type="button" id="bt-register">Register</button>
            <button type="button" id="bt-login">Login</button>
        </div>
    </header>
    <section>
        <h1 class="title text-center">Filter actors</h1>
        <div class="card">
            <p>Filter actors by genres and names (case-insensitive), displays up to 20 on page<p>
            <form action="{{ url_for('filter_actors') }}" method="GET">
                <label for="genre">Search by genre:</label>
                <select id="genre" name="genre" id="genre">
                    {% for genre in genres %}
                    {% if genre['name'] == chosen_genre %}
                    <option value="{{ genre['name'] }}" selected>{{ genre['name'] }}</option>
                    {% else %}
                    <option value="{{ genre['name'] }}">{{ genre['name'] }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <label for="name">Search by name:</label>
                <input type="search" id="name" name="name" value="{{name}}"/>
                <input type="submit" value="Search">
            </form>

            <table><thead>
<tr>
    <th>Name
  </th>
                <th>Genres</th>
</tr></thead>
                {% for actor in actors %}
                <tr>
                    <td>{{ actor['name'] }}</td>
                    <td>{{ actor['genres'] }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

    </section>
    <footer>
        Copyright, bla-bla
    </footer>
</div>
<div class="background">
    <div class="dark-blue-layer"></div>
    <div class="light-blue-layer"></div>
</div>
</body>

</html>
